.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.5);
}

.overlay[data-state="open"] {
  animation: fadeIn 200ms;
}

.overlay[data-state="closed"] {
  animation: fadeOut 200ms;
}

.content {
  background-color: var(--background);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: calc(100% - 2rem);
  transform: translate(-50%, -50%);
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  transition-duration: 200ms;
}

@media (min-width: 640px) {
  .content {
    max-width: 32rem;
  }
}

.content[data-state="open"] {
  animation: fadeIn 200ms, zoomIn 200ms;
}

.content[data-state="closed"] {
  animation: fadeOut 200ms, zoomOut 200ms;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  .header {
    text-align: left;
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.description {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
