.avatar {
  position: relative;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 9999px;
}

.image {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.fallback {
  background-color: var(--muted);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}
