.card {
  background-color: var(--card);
  color: var(--card-foreground);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid;
}

.header {
  container-type: inline-size;
  container-name: card-header;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  align-items: flex-start;
  gap: 0.375rem;
  padding: 1.5rem 1.5rem 0;
}

.header:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.header:has(.borderB) {
  padding-bottom: 1.5rem;
}

.title {
  line-height: 1;
}

.description {
  color: var(--muted-foreground);
}

.action {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  align-self: flex-start;
  justify-self: flex-end;
}

.content {
  padding: 0 1.5rem;
}

.content:last-child {
  padding-bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 1.5rem;
}

.footer:has(.borderT) {
  padding-top: 1.5rem;
}
