.checkbox {
  border: 1px solid;
  background-color: var(--input-background);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition: box-shadow 150ms;
  outline: none;
}

.checkbox[data-state="checked"] {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: var(--primary);
}

.checkbox:focus-visible {
  border: 1px solid var(--ring);
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
}

.checkbox[aria-invalid="true"] {
  box-shadow: 0 0 0 3px rgb(var(--destructive) / 0.2);
  border-color: var(--destructive);
}

.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: none;
}

.indicator svg {
  width: 0.875rem;
  height: 0.875rem;
}
