.input {
  border: 1px solid var(--input);
  display: flex;
  height: 2.25rem;
  width: 100%;
  min-width: 0;
  border-radius: 0.375rem;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--input-background);
  transition: color 150ms, box-shadow 150ms;
  outline: none;
}

@media (min-width: 768px) {
  .input {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.input::file-selector-button {
  color: var(--foreground);
  display: inline-flex;
  height: 1.75rem;
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.input::placeholder {
  color: var(--muted-foreground);
}

.input::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.input:focus-visible {
  border: 1px solid var(--ring);
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
}

.input[aria-invalid="true"] {
  box-shadow: 0 0 0 3px rgb(var(--destructive) / 0.2);
  border-color: var(--destructive);
}

.input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
