.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  user-select: none;
}

.label:has(+ :disabled),
.label.peerDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:global(.group[data-disabled="true"]) .label {
  pointer-events: none;
  opacity: 0.5;
}
