.group {
  display: grid;
  gap: 0.75rem;
}

.item {
  border: 1px solid var(--input);
  color: var(--primary);
  aspect-ratio: 1 / 1;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 9999px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition: color 150ms, box-shadow 150ms;
  outline: none;
}

.item:focus-visible {
  border: 1px solid var(--ring);
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
}

.item[aria-invalid="true"] {
  box-shadow: 0 0 0 3px rgb(var(--destructive) / 0.2);
  border-color: var(--destructive);
}

.item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator svg {
  fill: var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, -50%);
}
