.scrollArea {
  position: relative;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: color 150ms, box-shadow 150ms;
  outline: none;
}

.viewport:focus-visible {
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
  outline: 1px solid;
}

.scrollbar {
  display: flex;
  touch-action: none;
  padding: 1px;
  transition: colors 150ms;
  user-select: none;
}

.scrollbarVertical {
  height: 100%;
  width: 0.625rem;
  border-left: 1px solid transparent;
}

.scrollbarHorizontal {
  height: 0.625rem;
  flex-direction: column;
  border-top: 1px solid transparent;
}

.thumb {
  background-color: var(--border);
  position: relative;
  flex: 1;
  border-radius: 9999px;
}
