.switch {
  display: inline-flex;
  height: 1.15rem;
  width: 2rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid transparent;
  transition: all 150ms;
  outline: none;
}

.switch[data-state="checked"] {
  background-color: var(--primary);
}

.switch[data-state="unchecked"] {
  background-color: var(--switch-background);
}

.switch:focus-visible {
  border: 1px solid var(--ring);
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
}

.switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.thumb {
  background-color: var(--card);
  pointer-events: none;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  box-shadow: 0 0 0 0 transparent;
  transition: transform 150ms;
}

.thumb[data-state="checked"] {
  transform: translateX(calc(100% - 2px));
}

.thumb[data-state="unchecked"] {
  transform: translateX(0);
}
