.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list {
  background-color: var(--muted);
  color: var(--muted-foreground);
  display: inline-flex;
  height: 2.25rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  padding: 3px;
}

.trigger {
  color: var(--foreground);
  display: inline-flex;
  height: calc(100% - 1px);
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  transition: color 150ms, box-shadow 150ms;
}

.trigger[data-state="active"] {
  background-color: var(--card);
}

.trigger:focus-visible {
  border: 1px solid var(--ring);
  box-shadow: 0 0 0 3px rgb(var(--ring) / 0.5);
  outline: 1px solid var(--ring);
}

.trigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.trigger svg {
  pointer-events: none;
  flex-shrink: 0;
}

.trigger svg:not([class*='size-']) {
  width: 1rem;
  height: 1rem;
}

.content {
  flex: 1;
  outline: none;
}
