.content {
  background-color: var(--primary);
  color: var(--primary-foreground);
  z-index: 50;
  width: fit-content;
  origin: var(--radix-tooltip-content-transform-origin);
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-wrap: balance;
  animation: fadeIn 150ms, zoomIn 150ms;
}

.content[data-state="closed"] {
  animation: fadeOut 150ms, zoomOut 150ms;
}

.content[data-side="bottom"] {
  animation: fadeIn 150ms, zoomIn 150ms, slideInFromTop 150ms;
}

.content[data-side="left"] {
  animation: fadeIn 150ms, zoomIn 150ms, slideInFromRight 150ms;
}

.content[data-side="right"] {
  animation: fadeIn 150ms, zoomIn 150ms, slideInFromLeft 150ms;
}

.content[data-side="top"] {
  animation: fadeIn 150ms, zoomIn 150ms, slideInFromBottom 150ms;
}

.arrow {
  background-color: var(--primary);
  fill: var(--primary);
  z-index: 50;
  width: 0.625rem;
  height: 0.625rem;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-radius: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
